li {
	color:#becd44;
	margin:0.1em;
	padding: 1rem 1rem 1rem 1rem;
	text-align: center;
	width: 5rem;
	cursor: pointer;
}

li:hover {
	color:#225533;
	background:#000000;
}

ol, ul {
	list-style-type: none;
}

#headerWrapper {
	background-color: #225533;
	padding: 1rem 0rem 1rem 0rem;
}

#headerContainer {
	text-align: center;
	color: #FFFFFF;
}

#inlineFavicon {
	//line-height: 1rem;
	vertical-align: middle;
	margin-top: 1px;
	margin-right: -3px;
}