body {
  font: 100% "Roboto Mono", monospace; }

li {
  color: #becd44;
  margin: 0.1em;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  width: 5rem;
  cursor: pointer; }

li:hover {
  color: #225533;
  background: #000000; }

ol, ul {
  list-style-type: none; }

#headerWrapper {
  background-color: #225533;
  padding: 1rem 0rem 0rem 0rem;
  text-align: center; }

#headerContainer {
  color: #FFFFFF; }

#inlineFavicon {
  vertical-align: middle;
  margin-top: 1px;
  margin-right: -3px; }
