//===GLOBALS===

$fontStack: 'Open Sans', sans-serif;

@mixin blueGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e6a9a+0,2aa4d8+50,2094ca+50,2094ca+50,32445b+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa4d8+12,2aa4d8+14,2094ca+50,32445b+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa4d8+12,2aa4d8+14,2094ca+50,44637c+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa4d8+12,2094ca+50,2e62a5+100 */
	background: #2aa4d8; /* Old browsers */
	background: -moz-linear-gradient(top, #2aa4d8 12%, #2094ca 50%, #2e62a5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2aa4d8 12%,#2094ca 50%,#2e62a5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2aa4d8 12%,#2094ca 50%,#2e62a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa4d8', endColorstr='#2e62a5',GradientType=0 ); /* IE6-9 */
	text-shadow: 0.05rem 0.05rem #32445b;
}

@mixin orangeGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7c2b+12,ff7a28+49,ef3700+100 */
background: #ff7c2b; /* Old browsers */
background: -moz-linear-gradient(top, #ff7c2b 12%, #ff7a28 49%, #ef3700 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff7c2b 12%,#ff7a28 49%,#ef3700 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff7c2b 12%,#ff7a28 49%,#ef3700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c2b', endColorstr='#ef3700',GradientType=0 ); /* IE6-9 */
text-shadow: 0.05rem 0.05rem #ef3700;
}

@mixin blueButtonBorder {
	border-right-style: solid;
	border-right-color: #2094ca;
	border-right-width: 3px;
	border-left-style: solid;
	border-left-color: #57B2D6;
	border-left-width: 3px;
	border-top-style: solid;
	border-top-color: #57B2D6;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #2094ca;
	border-bottom-width: 3px;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e6a9a+0,2aa4d8+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ddf3ff+0,2aa4d8+100 */
	background: #ddf3ff; /* Old browsers */
	background: -moz-linear-gradient(top, #ddf3ff 0%, #2aa4d8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ddf3ff 0%,#2aa4d8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ddf3ff 0%,#2aa4d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#ddf3ff', endColorstr='#2aa4d8',GradientType=0 );
	/* IE6-9 */
	background-attachment: fixed;
}

body {
	font-family: $fontStack;
	font-size: 1rem;
}

ol,
ul {
	list-style-type: none;
}

.inlineIcon {
	//line-height: 1rem;
	vertical-align: middle;
	margin-top: 1px;
	margin-right: -3px;
}

//===NAVIGATION===

#headerWrapper {
	padding: 1rem 0;
	background: #2aa4d8;
	/*	border-bottom-width: 1px;
	border-bottom-color: #57B2D6;
	border-bottom-style: solid;
*/
}

#headerContainer {
	text-align: left;
	text-shadow: 0.1rem 0.1rem #32445b;
	color: #FFFFFF;
	padding-left: 4rem;
	font-size: 2rem;
}

#navWrapper {
	@include blueGradient;
	width: 100%;
	overflow: hidden;
}

#navContainer {
	margin: 0;
	display: flex;
}

#headerUi {
	margin: 0;
	padding: 0 0 0 3rem;
	/*	border-top-width: 1px;
	border-top-color: #2094ca;
	border-top-style: solid;
*/
}

.mobileButtons {

}

.navUi {
	flex-grow: 1;
	color: #FFFFFF;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	text-shadow: 0.05rem 0.05rem #32445b;
	border-right-style: solid;
	border-right-color: #57B2D6;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-color: #2094ca;
	border-left-width: 1px;
	font-weight: 700;
}

.navUi:hover {
	color: #32445b;
	background: #FFFFFF;
	text-shadow: none;
	border: 1px solid #FFFFFF;
}

.navUi:focus {
	border: 3px solid #FFFFFF;
	padding: 0.875rem;
}

.navSearchbar {
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0.05rem 0.05rem #32445b;
	padding: 0.9rem 1rem 0.7rem;
	font-weight: 400;
}

.navLogo {
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0.05rem 0.05rem #32445b;
	float: left;
	padding: 1rem;
	font-weight: 700;
}

.button:focus {
	border: 3px solid #FFFFFF;
}

.button {
	@include blueGradient;
	color: #FFFFFF;
	text-shadow: 0.05rem 0.05rem #32445b;
	font-weight: 700;
	font-family: $fontStack;
	cursor: pointer;
	@include blueButtonBorder;
}


//===CONTENT===
#contentWrapper {
	margin: 0;
	padding: 2rem 15%;
}

.contentContainer {
	display: flex;
	justify-content: space-between;
}

.listContainer {
	flex-grow: 1;
	background-color: #fff;
}

.listContainer:first-child {
	margin-right: 1rem;
}

.listItem {
	display: flex;
	padding: 0px;
	justify-content: space-between;
}

.liItemUI {
	flex-grow: 1;
}
.listInput {
    border: none;
    width: 100%;
    text-align: center;
}

//===JQUERYUI OVERRIDES===

#shoppingList .ui-accordion-header-active {
	@include blueGradient;
}

#recipeList .ui-accordion-header-active {
	@include orangeGradient;
}

.ui-accordion-header {
	font-weight: 600;
}

.ui-accordion-header-collapsed {
  background: #DDDDDD; /* Old browsers */
}

.ui-state-active {
    border-width: 0px;
}

.ui-accordion .ui-accordion-header {
	margin: 0;
}
